<div class="row">
  <div class="col-md-4">
  <%= bootstrap_form_for [@board, @team] do |f| %>
    <% if @team.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

        <ul>
        <% @team.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.text_field :name %>
    <%= f.color_field :color %>
    <div class="form-group">
      <%= f.check_box :single_project %>
      <p class="help-block col-sm-offset-1">Members of this team should only be assigned to one project at a time.</p>
    </div>

    <div class="form-group actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
</div>