<div class="row">
  <div class="col-md-4">
  <%= bootstrap_form_for [@board, @team] do |f| %>
    <% if @team.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

        <ul>
        <% @team.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.color_field :color %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
</div>