<% @title = "#{@board.name} Teams" %>
<h1>Teams</h1>
<p>A person's Team will show up with the specificed background color.</p>
<% if @teams.empty? %>
<p class="text-muted"><em>No <%= @board.name %> teams created yet.</em></p>
<% else %>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Color</th>
      <th>Single Project?</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><span class="person-tag" style="background-color: <%= team.color %>; padding: 3px 5px;"><%= team.color %></span></td>
        <td><%= team.single_project? ? 'Yes' : 'No' %></td>
        <td><%= link_to 'Edit', edit_board_team_path(@board, team) %></td>
        <td><%= link_to 'Destroy', board_team_url(@board, team), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<br>

<%= link_to 'New Team', new_board_team_path(@board), :class => 'btn btn-primary' %>