<% @title = "#{@team.name}" %>
<h1>Team</h1>
<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Color:</strong>
  <%= @team.color %>
</p>

<h3>Team Members</h3>
<ol>
<% @team.people.each do |p| %>
  <li><%= link_to p.name, board_person_path(@board, p) %><sup><%= p.location unless p.location == 'SF' %></sup> - <%= link_to p.active_projects.first.name, board_project_path(@board, p.active_projects.first) unless p.active_project_count == 0 %></li>
<% end %>
</ol>

<%= link_to 'Edit', edit_board_team_path(@board, @team) %> |
<%= link_to 'Back', board_teams_path(@board) %>