<%= bootstrap_form_for([@board, @initiative]) do |f| %>
  <% if @initiative.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@initiative.errors.count, "error") %> prohibited this initiative from being saved:</h2>

      <ul>
      <% @initiative.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :name %>
  <%= f.collection_select :board_id, @boards, :id, :name, { :include_blank => true } %>
  <%= f.date_field :start_date %>
  <%= f.date_field :end_date %>
  <%= f.collection_select :manager_id, @managers, :id, :name, { :include_blank => true } %>
  <%= f.collection_select :analyst_id, @analysts, :id, :name, { :include_blank => true } %>
  <%= f.collection_select :owner_id, @pms, :id, :name, { :include_blank => true } %>

  <div class="form-group">
      <%= f.check_box :completed %>
  </div>

  <div class="actions form-group">
    <%= f.submit %>
  </div>
<% end %>
