<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Manager</th>
      <th>Analyst</th>
      <th>Owner</th>
      <th>Completed?</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% initiatives.each do |initiative| %>
      <tr>
        <td><%= link_to initiative.name, edit_board_initiative_path(@board, initiative) %></td>
        <td><%= initiative.start_date %></td>
        <td><%= initiative.end_date %></td>
        <td><%= initiative.manager ? initiative.manager.name : '' %></td>
        <td><%= initiative.analyst ? initiative.analyst.name : '' %></td>
        <td><%= initiative.owner ? initiative.owner.name : '' %></td>
        <td><%= initiative.completed? ? 'Yes' : 'No' %></td>
        <td><%= link_to 'Destroy', board_initiative_url(@board, initiative), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>