<% @title = "#{@initiative.name} Initiative" %>
<h1>Edit Initiative</h1>
<%= render 'form' %>

<div class="row">
  <h2>Initiative Projects</h2>
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>Project</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Completed?</th>
      </tr>
    <% @initiative.projects.each do |p| %>
      <tr>
        <td><%= link_to p.name, edit_board_project_path(@board, p) %></td>
        <td><%= p.start_date %></td>
        <td><%= p.end_date %></td>
        <td><%= p.completed? ? 'Yes' : 'No' %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>
