<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @initiative.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @initiative.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @initiative.end_date %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @initiative.manager_id %>
</p>

<p>
  <strong>Analyst:</strong>
  <%= @initiative.analyst_id %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @initiative.owner_id %>
</p>

<%= link_to 'Edit', edit_initiative_path(@initiative) %> |
<%= link_to 'Back', initiatives_path %>
