<% @title = "#{@initiative.name} Initiative" %>
<div class="row">
  <p>
    <strong>Name:</strong>
    <%= @initiative.name %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= @initiative.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= @initiative.end_date %>
  </p>

  <p>
    <strong>Manager:</strong>
    <%= @initiative.manager.name unless @initiative.manager.nil? %>
  </p>

  <p>
    <strong>Analyst:</strong>
    <%= @initiative.analyst.name unless @initiative.analyst.nil? %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= @initiative.owner.name unless @initiative.owner.nil? %>
  </p>

  <p>
    <%= link_to 'Edit', edit_initiative_path(@initiative) %> |
    <%= link_to 'Back', initiatives_path %>
  </p>
</div>