<% @title = "#{@initiative.name} Initiative" %>
<div class="row">
  <p>
    <strong>Name:</strong>
    <%= @initiative.name %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= @initiative.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= @initiative.end_date %>
  </p>

  <p>
    <strong>Manager:</strong>
    <%= @initiative.manager.name unless @initiative.manager.nil? %>
  </p>

  <p>
    <strong>Analyst:</strong>
    <%= @initiative.analyst.name unless @initiative.analyst.nil? %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= @initiative.owner.name unless @initiative.owner.nil? %>
  </p>

  <p>
    <strong>Security:</strong>
    <%= @initiative.security.name unless @initiative.security.nil? %>
  </p>

  <p>
    <%= link_to 'Edit', edit_board_initiative_path(@board, @initiative) %> |
    <%= link_to 'Back', board_initiatives_path(@board) %>
  </p>
</div>