<div class="row">
<div class="col-md-4">
<%= bootstrap_form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="autocomplete" class="form-group">
    <%= f.text_field :name, :class => "typeahead", :placeholder => "Search on Yammer..." %>
  </div>
  <div class="field">
    <%= f.text_field :uid %>
  </div>
  <div class="field">
    <%= f.hidden_field :image %>
  </div>
  <div class="field">
    <%= f.select :location, ['SF', 'UK', 'YN'] %>
  </div>
  <div class="form-group">
    <%= f.collection_select :team_id, Team.all, :id, :name %>
  </div>
  <div class="form-group actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
</div>
