<div class="row">
<div class="col-md-4">
<%= bootstrap_form_for([@board, @person]) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="autocomplete" class="form-group">
    <%= f.text_field :name, :class => "typeahead", :placeholder => "Search on Yammer..." %>
  </div>
  <div class="field">
    <%= f.text_field :uid %>
  </div>
  <div class="field">
    <%= f.hidden_field :image %>
  </div>
  <div class="field">
    <%= f.collection_select :location_id, @board.locations, :id, :name, :include_blank => true %>
  </div>
  <div class="form-group">
    <%= f.collection_select :team_id, @teams, :id, :name %>
  </div>
    <div class="field">
    <%= f.select :new_project_alert, ['', 'Product', 'Internal Projects', 'All'] %>
  </div>
    <div class="field">
    <%= f.text_field :permalink, :label => 'Permalink (required for alerting only)' %>
  </div>
  <div class="form-group actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
</div>
<% content_for :javascript do %>
  <script type="text/javascript">
  jQuery(function() {
    // Blog is the app name
    window.router = new App.Routers.People({
      board: <%= @board.to_json.html_safe -%>
    });
    Backbone.history.start();
  });
</script>
<% end %>
