<% @title = "#{@board.name} People" %>
<%= render partial: "teams/css", locals: {teams: @teams} %>

<h1>People <span><%= link_to 'Add New', new_board_person_path(@board), :class => 'btn btn-primary btn-xs' %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Team</th>
      <th>Location</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= link_to person.name, board_person_url(@board, person) %></td>
        <td><img src="<%= person.image %>" class="avatar" /></td>
        <td><%= person.team.name %></td>
        <td><%= person.location %></td>
        <td><%= link_to 'Edit', edit_board_person_path(@board, person) %></td>
        <td><%= link_to 'Destroy', board_person_path(@board, person), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
