<p id="notice"><%= notice %></p>

<p>
  <strong>Yammer UID:</strong>
  <%= @person.uid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Image:</strong>
  <img class="avatar" src="<%= @person.image %>" />
</p>

<p>
  <strong>Team:</strong>
  <%= @person.team.name %>
</p>

<p><strong>Projects:</strong></p>
<ul>
  <% @project_memberships.each do |pm| %>
  <li><%= pm.project.name %> (<%= short_date pm.start_date %> to <%= short_date pm.end_date %>)</li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', board_people_path(@board) %>
