<% @title = "#{@person.name}" %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Yammer UID:</strong>
  <%= @person.uid %>
</p>

<p>
  <strong>Yammer Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Image:</strong>
  <img class="avatar" src="<%= @person.image %>" />
</p>

<p>
  <strong>Team:</strong>
  <%= @person.team.name %>
</p>

<p>
  <strong>New Project Alert:</strong>
  <%= @person.new_project_alert %>
</p>

<p>
  <strong>Permalink:</strong>
  <%= @person.permalink %>
</p>

<p><strong>Projects:</strong></p>
<ul>
  <% @project_memberships.each do |pm| %>
  <li><%= link_to pm.project.name, edit_board_project_path(@board, pm.project) %> (<%= short_date pm.start_date %> to <%= short_date pm.end_date %>)</li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_board_person_path(@board, @person) %> |
<%= link_to 'Back', board_people_path(@board) %>
