<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @person.uid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Image:</strong>
  <img class="avatar" src="<%= @person.image %>" />
</p>

<p>
  <strong>Team:</strong>
  <%= @person.team.name %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
