<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @person.uid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @person.image %>
</p>

<p>
  <strong>Team:</strong>
  <%= @person.team %>
</p>

<p>
  <strong>Project:</strong>
  <%= @person.project %>
</p>

<p>
  <strong>Role:</strong>
  <%= @person.role %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
