 <script type="text/javascript">
  function hideStanding() {
    standing = $("#project_initiative_id").find(":selected").attr("data-standing")

      elements = $(".not-standing-field")

      for (i = 0; i < elements.length ; i++){
        if (standing == "true") {
          $(elements[i]).hide()
          $(elements[i]).find("input").val("")
        } else {
          $(elements[i]).show()
        }
      }
  }
</script>
  <style>
  .hide-standing {
    display :none;
  }
</style>
<div class="row">
  <div class="col-md-6">
    <%= bootstrap_form_for([@board, @project], layout: :horizontal, label_col: "col-md-3", control_col: "col-md-6") do |f| %>
      <% if @project.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

          <ul>
          <% @project.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.text_field :name %>
      </div>
      <div>
      <%= f.select :initiative_id, options_for_select(@initiatives.map{ |i| [i.name, i.id, {'data-standing'=>i.standing}] }, @project.initiative.try(:id) ), {}, :onchange => "hideStanding()"%>
      </div>
      <div class="field">
        <%= f.text_area :project_description, :rows => 5 %>
      </div>
      <div class="field not-standing-field <%= @project.initiative.present? && @project.initiative.standing ? 'hide-standing' : '' %>">
        <%= f.text_field :product_spec %>
      </div>
      <div class="field not-standing-field <%= @project.initiative.present? && @project.initiative.standing ? 'hide-standing' : '' %>">
        <%= f.text_field :tech_spec %>
      </div>
      <div class="field not-standing-field <%= @project.initiative.present? && @project.initiative.standing ? 'hide-standing' : '' %>">
        <%= f.text_field :yammer_group %>
      </div>
      <div class="field not-standing-field <%= @project.initiative.present? && @project.initiative.standing ? 'hide-standing' : '' %>">
        <%= f.text_field :experiment_key %>
      </div>
      <div class="field">
        <%= f.date_field :start_date %>
      </div>
      <div class="col-md-offset-3">
        <p class="help-block">Changing the start date will update all project member start dates (unless the project's start date is earlier)</p>
      </div>
      <%= f.date_field :end_date %>
      <%= f.collection_select :location_id, @board.locations, :id, :name, :include_blank => true %>
      <%= f.select :project_type, ['', 'Product', 'Internal Projects', 'Support/Other', 'Engineering Systems', 'Product Innovation', 'Market Adoption', 'Quality and Repairs'] %>
      <%= f.collection_select :initiative_id, @initiatives, :id, :name %>
      <div class="form-group">
        <div class="col-md-6 col-md-offset-3">
          <%= f.check_box :completed %>
        </div>
      </div>
      <div class="field not-standing-field <%= @project.initiative.present? && @project.initiative.standing ? 'hide-standing' : '' %>">
        <%= f.text_field :retrospective %>
      </div>
      <div class="form-group">
        <div class="col-md-offset-3 col-md-6">
          <%= f.submit %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-6">
  <h3>Project Members</h3>
  <% unless @project.project_members.nil? %>
  <ul class="project-members-list">
  <% @project.project_members.order(role_id: :asc).each do |pm| %>
    <li>
      <%= person_tag pm %> (<%= pm.role.name %>)
      <%= link_to 'Delete', project_project_member_path(@project, pm), method: :delete, :class => 'btn btn-danger btn-xs', data: { :confirm => 'Are you sure you want to delete?' } %>
    </li>
  <% end %>
  </ul>
  <% end %>
  <h3>Changelog</h3>
  <ul>
  <% @project.versions.each do |v| %>
    <li>
      <% if v.changeset.empty? %>
      <%= v.event %> on <%= v.created_at.strftime("%m/%d/%y") %>
      <% else %>
      <%= Project.human_attribute_name(v.changeset.first[0]) %> changed: <strong><%= v.changeset.first[1].join(' → ') %></strong>
      <% end %>
      by <%= User.find_by_id(v.whodunnit).name unless User.find_by_id(v.whodunnit).nil? %>
      on <%= v.created_at.strftime("%m/%d/%y") %>
    </li>
  <% end %>
  <% @project.project_members.each do |pm| %>
    <% pm.versions.each do |v| %>
    <% if v.event == 'create' %>
      <li class="project-changelog-list">
        <%= person_tag pm %> added
        by <%= User.find_by_id(v.whodunnit).name unless User.find_by_id(v.whodunnit).nil? %>
      on <%= v.created_at.strftime("%m/%d/%y") %>
      </li>
      <% end %>
    <% end %>
  <% end %>
  </ul>
  </div>
</div>