<% @title = "#{@board.name} Projects" %>
<h1 class="page-header">Projects <span><%= link_to 'Create New', new_project_path, :class => 'btn btn-primary btn-xs' %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Status</th>
      <th>Location</th>
      <th>Type</th>
      <th>Initiative</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.name, edit_project_path(project) %></td>
        <td><%= project.start_date %></td>
        <td><%= project.end_date %></td>
        <td><%= project.status %></td>
        <td><%= project.location %></td>
        <td><%= project.project_type %></td>
        <td><%= project.initiative ? project.initiative.name : '' %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
