<% @board.people.each do |p| %>
  <% if p.team.single_project? && p.active_project_count != 1 && !p.on_standing_initiative? && !p.initiative_owner? %>
  <div class="alert alert-warning"><%= link_to p.name, board_person_url(@board, p) %>
    <% if p.active_project_count == 0 %>
      <!-- person is not on the board at all -->
      <% if p.projects.count == 0 %>
        is unassigned
      <% else %>
      <% p.projects.each do |proj| %>
        <!-- person is on the board on a project with no/future start date -->
        <% if (!proj.start_date || proj.start_date > Date.today) %>
          is only on project "<%= link_to proj.name, edit_board_project_path(@board, proj) %>" which hasn't started yet.
        <% end %>
      <% end %>
    <% end %>
    <% elsif p.active_project_count > 1 %>
    is assigned to <%= p.active_project_count %> projects
    <% p.active_projects.each do |p| %>
    - <%= link_to p.name, edit_board_project_path(@board, p) %>
    <% end %>
  <% end %>
  </div>
  <% end %>
<% end %>
<% if @board.people_ending_soon != [] %>
<div class="alert alert-warning"> <b>People ending soon</b><br/>
  <% @board.people_ending_soon.each do |pes| %>
  - <%= pes["person_name"] %> ending on <%= pes["project_end_date"] %> (<%= pes["project_name"] %>)<br/>
  <% end %>
<% end %>
</div>

<% if @board.has_long_projects %>
  <div class="alert alert-warning"> <b>Long running projects</b><br/>
  <% @board.locations.each do |l| %>
   <%= l.name %><br/>
    <% @board.long_projects(l.name).each do |p| %>
      -- <%= link_to p.name, edit_board_project_path(@board, p) %> has been running for <%= num_weeks(p.start_date, Date.today) %> weeks<%= " (no end date)" if p.end_date == nil %>. <br/>
    <% end %>
  <% end %>
<% end %>

</div>