<h1>Project Allocation</h1>

<table class="table table-grid">
  <thead>
    <tr>
      <th>Type</th>
<% @teams.each do |t| %>
      <th><%= link_to t.name, board_team_path(@board, t) %></th>
<% end %>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
<% @board.initiatives.where(:completed => false).each do |i| %>
<% if !product_initiative?(i) %>
    <tr>
      <td><%= i.name %></td>
<% @teams.each do |t| %>
      <td title="<%= @allocations[i][:people][t].collect {|x| x.name} %>"><%= display_percentage @allocations[i][:people][t].size, t.people.size %>
      </td>
<% end %>
      <td><%= display_percentage @allocations[i][:total], @allocations[:total] %></td>
    </tr>
    <tr>
 <% end %>
    <tr>
<% end %>
<% @board.initiatives.where(:completed => false).each do |i| %>
<% if product_initiative?(i) %>
    <tr>
      <td><%= i.name %></td>
<% @teams.each do |t| %>
      <td title="<%= @allocations[i][:people][t].collect {|x| x.name} %>"><%= display_percentage @allocations[i][:people][t].size, t.people.size %>
      </td>
<% end %>
      <td><%= display_percentage @allocations[i][:total], @allocations[:total] %></td>
    </tr>
    <tr>
 <% end %>
    <tr>
<% end %>
      <th>Total</th>
<% @teams.each do |t| %>
      <td><%= t.people.size %></td>
<% end %>
      <td><%= @allocations[:total] %></td>
    </tr>
  </tbody>
</table>


<h1>Project Allocation with Product grouped together</h1>

<table class="table table-grid">
  <thead>
    <tr>
      <th>Type</th>
<% @teams.each do |t| %>
      <th><%= link_to t.name, board_team_path(@board, t) %></th>
<% end %>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
<% @board.initiatives.where(:completed => false).each do |i| %>
<% if !product_initiative?(i) %>
  <tr>
      <td><%= i.name %></td>
<% @teams.each do |t| %>
      <td title="<%= @allocations_product_bucket[i][:people][t].collect {|x| x.name} %>"><%= display_percentage @allocations_product_bucket[i][:people][t].size, t.people.size %>
      </td>
<% end %>
      <td><%= display_percentage @allocations_product_bucket[i][:total], @allocations_product_bucket[:total] %></td>
    </tr>
 <% end %>
 <% end %>
     <tr>
      <td> Product </td>
<% @teams.each do |t| %>
      <td title="<%= @allocations_product_bucket[:product][:people][t].collect {|x| x.name} %>"><%= display_percentage @allocations_product_bucket[:product][:people][t].size, t.people.size %>
      </td>
<% end %>
      <td><%= display_percentage @allocations_product_bucket[:product][:total], @allocations_product_bucket[:total] %></td>
    </tr>
    <tr>
      <th>Total</th>
<% @teams.each do |t| %>
      <td><%= t.people.size %></td>
<% end %>
      <td><%= @allocations_product_bucket[:total] %></td>
    </tr>
  </tbody>
</table>

<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<h2>Bucket breakdown</h2>
<%= pie_chart(@allocations_bucket_pie) %>
<h2>Product initiatives breakdown</h2>
<%= pie_chart(@allocations_product_pie) %>
<h2>Supeng breakdown by functional team</h2>
<%= pie_chart(@allocations_supeng_pie) %>


<br/>



<%= render partial: "validations" %>

<% if @board.id == 2 %>
  <div class="alert alert-warning">
    <strong>TL's and projects</strong>
    <% tl_projects.each do |p| %>
      <br />-- <%= p %>
    <% end %>
  </div>
<% end %>