<h1>Project Allocation</h1>

<table class="table table-grid">
  <thead>
    <tr>
      <th>Type</th>
<% @teams.each do |t| %>
      <th><%= link_to t.name, board_team_path(@board, t) %></th>
<% end %>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Product</td>
<% @teams.each do |t| %>
      <td><%= display_percentage @allocations[:product][:people][t].size, t.people.size %></td>
<% end %>
      <td><%= display_percentage @allocations[:product][:total], @allocations[:total] %></td>
    </tr>
    <tr>
      <td>Internal Projects</td>
<% @teams.each do |t| %>
      <td><%= display_percentage @allocations[:internal][:projects][t].size, t.people.size %></td>
<% end %>
      <td><%= display_percentage @allocations[:internal][:projects][:total], @allocations[:total] %></td>
    </tr>
    <tr>
      <td>Support</td>
<% @teams.each do |t| %>
      <td><%= display_percentage @allocations[:internal][:support][t].size, t.people.size %></td>
<% end %>
      <td><%= display_percentage @allocations[:internal][:support][:total], @allocations[:total] %></td>
    </tr>
    <tr>
      <td>Unallocated</td>
<% @teams.each do |t| %>
      <td><%= display_percentage @allocations[:unassigned][t].size, t.people.size %></td>
<% end %>
      <td><%= display_percentage @allocations[:unassigned][:total], @allocations[:total] %></td>
    </tr>
    <tr>
      <th>Total</th>
<% @teams.each do |t| %>
      <td><%= t.people.size %></td>
<% end %>
      <td><%= @allocations[:total] %></td>
    </tr>
    <tr>
      <td>Internal (Total)</td>
<% @teams.each do |t| %>
      <td><%= display_percentage @allocations[:internal][:people][t].size, t.people.size %></td>
<% end %>
      <td><%= display_percentage @allocations[:internal][:total], @allocations[:total] %></td>
    </tr>
  </tbody>
</table>

<h2>Actual allocation minus desired allocation</h2>

<table class="table table-grid">
  <thead>
    <tr>
      <th>Type</th>
<% @teams.each do |t| %>
      <th><%= link_to t.name, board_team_path(@board, t) %></th>
<% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Product</td>
<% @teams.each do |t| %>
      <% @difference = actual_minus_desired_allocation(t, @allocations, "Product") %>
      <td class="<%= "text-success" if @difference.to_i > 0 %><%= " text-danger" if @difference.to_i < 0 %>"><b><%= @difference %></b></td>
<% end %>
    </tr>
    <tr>
      <td>Internal Projects</td>
<% @teams.each do |t| %>
      <% @difference = actual_minus_desired_allocation(t, @allocations, "Internal Projects") %>
      <td class="<%= "text-success" if @difference.to_i > 0 %><%= " text-danger" if @difference.to_i < 0 %>"><b><%= @difference %></b></td>
<% end %>
    </tr>
    <tr>
      <td>Support</td>
<% @teams.each do |t| %>
      <% @difference = actual_minus_desired_allocation(t, @allocations, "Support") %>
      <td class="<%= "text-success" if @difference.to_i > 0 %><%= " text-danger" if @difference.to_i < 0 %>"><b><%= @difference %></b></td>
<% end %>
    </tr>
    <tr>
      <td>Unallocated</td>
<% @teams.each do |t| %>
      <% @difference = actual_minus_desired_allocation(t, @allocations, "Unallocated") %>
      <td class="<%= "text-success" if @difference.to_i > 0 %><%= " text-danger" if @difference.to_i < 0 %>"><b><%= @difference %></b></td>
<% end %>
    </tr>
  </tbody>
</table>


<div class="alert alert-warning">
<strong>Unallocated</strong> (not assigned to a project of type Internal or Product):
<ul>
<% @teams.each do |t| %>
<% @allocations[:unassigned][t].each do |p| %>
  <li><%= link_to p.name, board_person_path(@board, p) %> (<%= active_project p %>)</li>
<% end %>
<% end %>
</ul>
</div>

<%= render partial: "validations" %>

<% if @board.id == 2 %>
  <div class="alert alert-warning">
    <strong>TL's and projects</strong>
    <% tl_projects.each do |p| %>
      <br />-- <%= p %>
    <% end %>
  </div>
<% end %>