<h1>Project Allocation</h1>

<table class="table table-grid">
  <thead>
    <tr>
      <th>Type</th>
<% @teams.each do |t| %>
      <th><%= link_to t.name, board_team_path(@board, t) %></th>
<% end %>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
<% @board.initiatives.where(:completed => false).each do |i| %>
    <tr>
      <td><%= i.name %></td>
<% @teams.each do |t| %>
      <td title="<%= @allocations[i][:people][t].collect {|x| x.name} %>"><%= display_percentage @allocations[i][:people][t].size, t.people.size %>
      </td>
<% end %>
      <td><%= display_percentage @allocations[i][:total], @allocations[:total] %></td>
    </tr>
    <tr>
 <% end %>
    <tr>
      <th>Total</th>
<% @teams.each do |t| %>
      <td><%= t.people.size %></td>
<% end %>
      <td><%= @allocations[:total] %></td>
    </tr>
  </tbody>
</table>

<%= render partial: "validations" %>

<% if @board.id == 2 %>
  <div class="alert alert-warning">
    <strong>TL's and projects</strong>
    <% tl_projects.each do |p| %>
      <br />-- <%= p %>
    <% end %>
  </div>
<% end %>