<h1>Project Allocation</h1>

<table class="table table-grid">
  <thead>
    <tr>
      <th>Type</th>
<% @teams.each do |t| %>
      <th><%= link_to t.name, board_team_path(@board, t) %></th>
<% end %>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Product</td>
<% @teams.each do |t| %>
      <td title="<%= @allocations[:product][:people][t].collect {|x| x.name} %>"><%= display_percentage @allocations[:product][:people][t].size, t.people.size %>
      </td>
<% end %>
      <td><%= display_percentage @allocations[:product][:total], @allocations[:total] %></td>
    </tr>
    <tr>
      <td>Market Adoption</td>
<% @teams.each do |t| %>
      <td title="<%= @allocations[:market_adoption][:people][t].collect {|x| x.name} %>"><%= display_percentage @allocations[:market_adoption][:people][t].size, t.people.size %></td>
<% end %>
      <td><%= display_percentage @allocations[:market_adoption][:total], @allocations[:total] %></td>
    </tr>
    <tr>
      <td>Support Engineering</td>
<% @teams.each do |t| %>
      <td title="<%= @allocations[:support][:people][t].collect {|x| x.name} %>"><%= display_percentage @allocations[:support][:people][t].size, t.people.size %></td>
<% end %>
      <td><%= display_percentage @allocations[:support][:total], @allocations[:total] %></td>
    </tr>
    <tr>
      <td>Service Quality</td>
<% @teams.each do |t| %>
      <td title="<%= @allocations[:service_quality][:people][t].collect {|x| x.name} %>"><%= display_percentage @allocations[:service_quality][:people][t].size, t.people.size %></td>
<% end %>
      <td><%= display_percentage @allocations[:service_quality][:total], @allocations[:total] %></td>
    </tr>
    <tr>
    <tr>
      <td>Engineering Systems</td>
<% @teams.each do |t| %>
      <td title="<%= @allocations[:engineering_systems][:people][t].collect {|x| x.name} %>"><%= display_percentage @allocations[:engineering_systems][:people][t].size, t.people.size %></td>
<% end %>
      <td><%= display_percentage @allocations[:engineering_systems][:total], @allocations[:total] %></td>
    </tr>
    <tr>
      <th>Total</th>
<% @teams.each do |t| %>
      <td><%= t.people.size %></td>
<% end %>
      <td><%= @allocations[:total] %></td>
    </tr>
  </tbody>
</table>

<%= render partial: "validations" %>

<% if @board.id == 2 %>
  <div class="alert alert-warning">
    <strong>TL's and projects</strong>
    <% tl_projects.each do |p| %>
      <br />-- <%= p %>
    <% end %>
  </div>
<% end %>