<% @title = "#{@board.name} Changelog" %>

<h1><%= @title %></h1>

<table class="table changelog-table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Item</th>
      <th>Change</th>
      <th class="value">Old Value</th>
      <th class="value">New Value</th>
      <th>By</th>
    </tr>
  </thead>
  <tbody>
<% @versions.each do |v| %>
    <tr>
      <td><%= v.created_at.in_time_zone.to_formatted_s(:long) %></td>
      <td><span title="<%= v.object %>"><%= v.reify.name if v.reify.respond_to?(:name) %> <%= v.item_type %></span></td>
      <% if v.changeset.empty? %>
      <td><%= v.event %></td>
      <td><%= v.reify.name if v.event == "destroy" && v.reify.respond_to?(:name) %></td>
      <td></td>
      <% else %>
      <td><%= Board.human_attribute_name(v.changeset.first[0]) %> <%= v.event %></td>
      <td><%= v.changeset.first[1][0] %></td>
      <td><%= v.changeset.first[1][1] %></td>
      <% end %>
      <td><%= User.find_by_id(v.whodunnit).name %></td>
    </tr>
<% end %>
  </tbody>
</table>

