<% @title = "#{@board.name} Changelog" %>

<h1>Changelog</h1>

<table class="table changelog-table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Item</th>
      <th>Change</th>
      <th class="value">Old Value</th>
      <th class="value">New Value</th>
      <th>By</th>
    </tr>
  </thead>
  <tbody>
<% @versions.each do |v| %>
    <tr>
      <td><%= v.created_at.in_time_zone.to_formatted_s(:long) %></td>
      <td><span title="<%= v.object %>"><%= v.item_type %>: 
      <%= version_object_link(@board, v) unless v.event == "destroy" %>
      </span></td>
      <% if v.changeset.empty? || v.event == 'create' || v.event == 'destroy' %>
      <td><%= v.event %></td>
      <td></td>
      <td></td>
      <% else %>
      <td><%= v.event %> <%= Board.human_attribute_name(v.changeset.first[0]) %></td>
      <td><%= v.changeset.first[1][0] %></td>
      <td><%= v.changeset.first[1][1] %></td>
      <% end %>
      <td><%= User.find_by_id(v.whodunnit).name unless User.find_by_id(v.whodunnit).nil? %></td>
    </tr>
<% end %>
  </tbody>
</table>

