<h1>Completed Projects</h1>

<table class="table table-grid">
<thead>
  <tr>
      <th>Initiative Name</th>
      <th>Project Name</th>
      <th>Dates</th>
      <th>Project Length</th>
      <th>Retro?</th>
  </tr>      
<% @projects.each do |p| %>
  <tr>
    <td><%= p.initiative.name %></td>
    <td><%= link_to p.name, edit_board_project_path(@board, p) %></td>
    <td><%= short_date(p.start_date) %> → <%= short_date(p.end_date) %></td>
    <td><%= project_length(p) %> weeks</td>
    <td> n/a </td>
<% end %>
  </tr>
</thead>
</table>



