<% content_for :stylesheets do %>
<style type="text/css">
<% @board.teams.each do |t| %>
.team-<%= t.id %> {
  background-color: <%= t.color %>;
}
<% end %>
</style>
<% end %>
<div class="row row-board">
    <h2><%= @board.name %></h2>
<div class="panel panel-default">
  <div class="table-responsive">
    <table id="board-table" class="table table-condensed table-board">
      <thead>
        <tr>
          <th></th>
          <th class="date">Start Date</th>
          <th class="date">End Date</th>
          <% @board.roles.each do |r| %>
          <th><%= r.name %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
      <% @board.initiatives.each do |i| %>
        <tr class="initiative">
          <th colspan="3"><%= link_to i.name, edit_board_initiative_path(@board, i) %></th>
          <td><%= person_tag i.manager %></td>
          <td colspan="2"><%= person_tag i.analyst %></td>
        </tr>
        <% i.projects.order(start_date: :asc).each do |p| %>
        <tr data-project-id="<%= p.id %>">
          <td class="project"><%= link_to p.name, edit_board_project_path(@board, p) %></td>
          <td class="date"><%= p.start_date.strftime("%m/%d/%y") unless p.start_date.nil? %></td>
          <td class="date"><%= p.end_date.strftime("%m/%d/%y") unless p.end_date.nil? %></td>

          <% @board.roles.each do |r| %>
          <td class="people role-<%= r.name.parameterize %>" data-role-id="<%= r.id %>">
            <ul class="list-inline">
            <% project_members = p.project_members.where(role_id: r.id) %>
            <% project_members.each do |pm| %>
            <li><%= person_tag pm %></li>
            <% end %>
            </ul>
            <button class="btn btn-default btn-xs add-person" data-project-id="<%= p.id %>" data-role-id="<%= r.id %>">+ Person</button>
          </td>
          <% end %>
        </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
    </div>
  </div>
    <div>
      <%= link_to '<span class="glyphicon glyphicon-plus"></span> Create New Project'.html_safe, new_board_project_path(@board), :class => 'btn btn-primary btn-xs' %>
      <%= link_to '<span class="glyphicon glyphicon-pencil"></span> Edit Board'.html_safe, edit_board_path(@board), :class => 'btn btn-default btn-xs' %>
    </div>

  <div id="add-project-member-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        Add Project Member
      </div>
      <div class="modal-body">
        <%= bootstrap_form_for([Project, ProjectMember.new]) do |f| %>
        <div class="form-group" id="bigboard-autocomplete">
          <%= f.text_field :person_id, :class => "typeahead", :placeholder => "" %>
        </div>
        <div class="form-group">
          <%= f.hidden_field :role_id %>
          <%= f.hidden_field :project_id %>
          <%= f.submit "Add" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
  </div>