<% @title = @board.name %>
<%= render partial: "teams/css", locals: {teams: @board.teams} %>

<div class="row row-board">
<div class="header">
  <h2><%= @board.name %></h2>
  <div class="board-actions pull-right">
    <%= link_to '<span class="glyphicon glyphicon-plus"></span> Create New Project'.html_safe, new_board_project_path(@board), :class => 'btn btn-primary btn-xs' %>
    <%= link_to '<span class="glyphicon glyphicon-pencil"></span> Edit Board'.html_safe, edit_board_path(@board), :class => 'btn btn-default btn-xs' %>
  </div>
</div>
<div class="panel panel-default">
  <div class="table-responsive">
    <table id="board-table" class="table table-condensed table-board">
      <thead>
        <tr>
          <th></th>
          <th class="date">Start Date</th>
          <th class="date">End Date</th>
          <% @board.roles.reverse.each do |r| %>
          <th class="people"><%= r.name %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
      <% @board.ongoing_initiatives.each do |i| %>
        <tr class="initiative active">
          <th colspan="3"><%= link_to i.name, edit_board_initiative_path(@board, i) %></th>
          <td colspan="<%= @board.roles.size %>" class="people">
            <%= person_tag i.manager %><%= person_tag i.owner %><%= person_tag i.analyst %><%= person_tag i.security %>
          </td>
        </tr>
        <% i.ongoing_projects.each do |p| %>
        <tr data-project-id="<%= p.id %>">
          <th class="project"><%= link_to p.name, edit_board_project_path(@board, p) %></th>
          <td class="date">
            <% if i.standing? %>

            <% else %>
            <span data-toggle="tooltip" data-placement="bottom" title="<%= num_weeks(p.start_date, p.end_date) %> weeks"><%= p.start_date.strftime("%d %b %y") unless p.start_date.nil? %></span>
            <% end %>
          </td>
          <td class="date<%= " text-danger" if nearing_deadline p.end_date %>">
            <%= p.end_date.strftime("%d %b %y") unless p.end_date.nil? %>
          </td>

          <% @board.roles.reverse.each do |r| %>
          <td class="people role-<%= r.name.parameterize %>" data-role-id="<%= r.id %>">
            <ul class="list-inline"><% project_members = p.project_members.where(role_id: r.id).order(:start_date) %>
            <% project_members.each do |pm| 
              unless !pm.end_date.nil? && pm.end_date < Date.today
              %><li><%= person_tag pm %><%
                if i.standing? %><br /><%= pm.start_date %><%
                end %></li><% 
            end
              end %>
            </ul>
            <% unless !r.limit.nil? && project_members.size >= r.limit %>
            <button class="btn btn-default btn-xs add-person" data-project-id="<%= p.id %>" data-role-id="<%= r.id %>">+ <%= r.name %></button>
            <% end %>
          </td>
          <% end %>
        </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
    </div>
  </div>

  <% @board.people.each do |p| %>
  <% if p.team.single_project? && p.active_project_count != 1 %>
  <div class="alert alert-warning"><%= link_to p.name, board_person_url(@board, p) %>
    <% if p.active_project_count == 0 %>
    is unassigned
    <% elsif p.active_project_count > 1 %>
    is assigned to <%= p.active_project_count %> projects 
    <% p.active_projects.each do |p| %>
    - <%= link_to p.name, edit_board_project_path(@board, p) %>
    <% end %>
  <% end %>
  </div>
  <% end %>
  <% end %>

  <div id="add-project-member-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        Add Project Member
      </div>
      <div class="modal-body">
        <%= bootstrap_form_for([Project, ProjectMember.new]) do |f| %>
        <div class="form-group" id="bigboard-autocomplete">
          <%= f.text_field :person_id, :class => "typeahead", :placeholder => "" %>
        </div>
        <div class="form-group">
          <%= f.hidden_field :role_id %>
          <%= f.hidden_field :project_id %>
          <%= f.submit "Add" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
  </div>

<% content_for :javascript do %>
  <script type="text/javascript">
  jQuery(function() {
    window.router = new App.Routers.Boards({
      board: <%= @board.to_json(:include => { 
        :initiatives => {
          :include => { 
            :projects => {
              :include => {
                :project_members => {
                  :include => :person
                }
              }
            }
          }
        }
      }).html_safe -%>,
      teams: <%= @board.teams.to_json.html_safe -%>
    });
    Backbone.history.start();
  });
</script>
<% end %>